<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
      <!-- Footer -->
  <footer>
    <div class="footer-section">
      <h4>Quick Links</h4>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/booking">Appointment</a></li>
        <li><a href="/services">Services</a></li>
        <li><a href="/about">About Us</a></li>
        <li><a href="/contact">Contact Us</a></li>
      </ul>
    </div>
    <div class="footer-section">
      <h4>Contact</h4>
      <p>Phone: 000-000-000</p>
      <p>Email: info@email.com</p>
      <p>Location: India</p>
    </div>
    <div class="footer-section">
      <h4>About Us</h4>
      <p>Dedicated to Patient Well-being,</p>
      <p>Compassionate Service,</p>
      <p>Committed to Quality Healthcare</p>
    </div>
  </footer>

</body>
</html>