<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/welcome.css">
    <title>Welcome Page</title>
</head>
<body>

    <header id="showcase">
        <h1>Welcome To<br> HospiConnect </h1>
        <p id="quote">"It is health that is real wealth and not pieces of gold and silver."</p>
        <a href="/login" class="button" id="loginLink">Get Started</a>
    </header>


    <script src="/public/scripts/app.js"></script>
</body>
</html>