<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/welcome.css">
    <title>Welcome Page</title>
</head>
<body>
    <!-- Include Header Partial -->
    <!-- <%- include("partials/header") %> -->

    <header id="showcase">
        <h1>Welcome To Our Website</h1>
        <p id="quote">"It is health that is real wealth and not pieces of gold and silver."</p>
        
        <!-- Anchor tag for Login Page -->
        <a href="/login" class="button" id="loginLink">Log In</a>

        <!-- Button to change quote -->
        <button id="changeQuote" class="button">Change Quote</button>
    </header>

    <section id="dynamic-section">
        <h2>Your Recent Visit</h2>
        <p id="lastVisit"></p>
    </section>

    <script src="/public/scripts/app.js"></script>
</body>
</html>