body {
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: #fff;
    color: #333;
  }
  /* header {
    background: #fff;
    padding: 20px;
    border-bottom: 1px solid #eee;
    display: flex;
    justify-content: space-between;
    align-items: center;
  } */
  /* nav a {
    margin: 0 10px;
    text-decoration: none;
    color: #333;
    font-size: 14px;
  } */
  .hero {
    /* background: linear-gradient(135deg, #003366, #0b75c9); */
    background-image: url("/assets/about1.jpg");
    /* height: 130px;
    width: 1521px; */
    color: white;
    padding: 100px 0;
    text-align: center;
    
  }
  .breadcrumb {
    font-size: 14px;
    padding: 20px;
    color: #666;
  }
  .breadcrumb span {
    color: #e91e63;
  }
  .overview {
    text-align: center;
    padding: 20px 20px;
    margin-top: 30px;
    font-size: large;
  }
  .numbers {
    display: flex;
    justify-content: center;
    gap: 60px;
    margin-top: 20px;
  }
  .numbers div {
    font-weight: bold;
    font-size: 24px;
  }
  .numbers p {
    font-size: 14px;
    color: #555;
  }
  .section {
    text-align: center;
    padding: 20px 20px;

  }
  .cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    margin-top: 30px;

  }
  .card {
    
  }
  .card2 {
    width: 300px;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
    text-align: center;
    
      
  }
  .card.green-border {
    border-left: 5px solid green;
    width: 500px;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
    text-align: center;
  }
  .card.blue-border {
    border-left: 5px solid blue;
    width: 500px;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
    text-align: center;
  }
  .card.orange-border {
    border-left: 5px solid orange;
    width: 500px;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
    text-align: center;
  }
  .card.light-blue-border {
    border-left: 5px solid rgb(55, 187, 238);
    width: 500px;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
    text-align: center;
  }
  .card.green2-border {
    border-left: 5px solid green;
    width: 500px;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
    text-align: center;
  }
  .card.orange2-border {
    border-left: 5px solid orange;
    width: 500px;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
    text-align: center;
  }
  .card.light-blue2-border {
    border-left: 5px solid rgb(55, 187, 238);
    width: 500px;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
    text-align: center;
  }
  .card.extra-border {
    width: 500px;
    padding: 20px;
    border-radius: 8px;
    
    text-align: center;
  } 
  .card .icon {
    font-size: 32px;
    margin-bottom: 10px;
  }
  .highlight {
    color: green;
  }
  .blue-text {
    color: #007bff;
  }
  .orange-text {
    color: orange;
  }